
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-attachment: inherit;
    background-image: url("healthcare-accelerator-tech-data-startup-1200z600.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.centertext {
    position: absolute;
    margin-left:20px;

    padding: 20px;

    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    color: #0e5688;


}

.navbar {

    background-color:#84AABD;
    font-family: inherit;
    height: 100%;

    overflow: hidden;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;



}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.dropdown {
    float: right;
    overflow: hidden;
margin-right: 10px;
}

.dropdown .dropbtn {
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit;
font-family: Arial;

    letter-spacing: 2px;
    margin-right: 20px;


}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #84AABD;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #84AABD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(202, 199, 199);
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;



}

.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #b3aeae;
    border-radius: 10px;



}

.dropdown:hover .dropdown-content {
    display: block;
}


